.film-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 1010px;
    height: auto;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.film-list-pagination {
    background-color: #FFFFFF;
    padding-bottom: 20px;
}

.pagination {
    margin-top:30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    height: 60px;
}

.display-none {
    display: none;
}

@media (max-width: 420px) {
    .film-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 420px;
        box-sizing: border-box;
        background-color: #FFFFFF;
    }

    .film-list-pagination {
        background-color: #FFFFFF;
    }
}